.binary-converter {
  width: 500px;
  height: 230px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
  margin: auto;
  margin-top: 50px;
}

.binary-converter .name {
  text-align: center;
}

.binary-converter .input {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

.binary-converter .input label {
  margin: 5px;
  padding: 5px;
  width: 140px;
  display: inline-block;
  font-weight: bold;
}

.binary-converter .input input {
  margin: 5px;
  padding: 5px;
}

.binary-converter .input input:focus {
  outline-width: 0;
}

.binary-converter .input button {
  margin: 5px;
  padding: 6px 10px 4px 10px;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
}

.binary-converter p {
  text-align: center;
  color: red;
  font-weight: bold;
}